* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: rgb(28, 32, 59);
  --orange: rgb(253, 142, 7);
  --yellow: rgb(255, 202, 39);
}

body {
  background-color: var(--main-bg-color);
}
